:root {
	--color-1: #6BD1BB;
	--color-2: #6BA5D1;
	--color-3: #6BC5D1;
	--color-4: #6BD199;
	--color-5: #6B84D1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-3);
	height: 100vh;
}

header {
	padding-top: 10px;
	background-color: var(--color-5);
	display: flex;
	flex-flow: column nowrap;
	margin-bottom: 15px;
}

.container {
	display: flex;
	gap: 20px;
	width: 100%
}

.cart {
	background-color: red;
	width: 46%
}

.title {
	display: flex;
	justify-content: center;
}

.title a {
	color: black;
	text-decoration: underline;
}

.title a:active {
	color: var(--color-2)
}

.calculator {
	margin: 0 10px;
	padding: 10px;
	width: 41%;
	background-color: var(--color-2);
	border: solid 1px cadetblue;
}

.about {
	align-self: flex-end;
  color: white;
  margin: -25px 20px 20px;
  text-decoration: none;
  border: solid 1px var(--color-1);
  background-color: var(--color-2);
  padding: 4px;
  border-radius: 100px;
}

.about:hover {
	background-color: var(--color-4)
}

#money {
	display: flex;
	gap: 20px;
}

#cash {
	flex: 1 1 auto
}

#expenses {
	flex: 1 1 auto;
	margin-top: 20px
}

#expenses button {
	padding: 0 3px
}

#form-product {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px
}

.blank {
	width: 60px;
}

#discounts {
	width: 100%
}

#buttons {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 5px
}

#buttons input {
	flex: 1 1 auto;
}

#product button {
	margin-top: 5px;
	padding: 2px;
	width: 100%;
	font-weight: 600;
}


.errorMsg {
	color: red;
	background-color: black;
	border-radius: 20px;
	text-align: center;
	padding: 3px 0;
	margin-bottom: 5px
}

.navbar {
	padding: 10px;
	background-color: var(--color-1);
	border: solid var(--color-5) 1px	
}

.nav-list {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 25px;
	margin-right: 30px;
}

.welcome-user {
	flex: 1 1 auto;
}

#username {
	text-transform: capitalize;
  border-color: cadetblue;
  border-bottom-style: dashed;
	border-width: 3px;
}

.editName:hover {
	color: var(--color-5)
}

.checkOrder {
	margin: 15px 0;
	display: flex;
	justify-content: space-around
}

.discountsTotal {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.discountGeneral {
	display: flex;
	flex-direction: row;
	justify-content: center;
  gap: 10px;
}

.orderBtn {
	display: flex;
	flex-direction: column;
}

.disc, .coupons {
	width: 40%;
	align-self: flex-end;
	text-align: center;
}

.btn-discounts {
	margin-top: 1px
}

.money {
	margin-top: 10px
}

.settingOrder {
	display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.formProduct {
	margin-top: 10px;
}

.setDisc {
	width: 20px;
	border-radius: 10px;
	display: inline-flex;
	justify-content: center;
	background-color: transparent;
	border: 1px solid var(--color-1);
	user-select: none;
}

.history-orders {
	background-color: var(--color-2);
	padding: 10px;
	border-radius: 10px;
	border: solid 1px black;
}

.history-orders:hover {
	background-color: var(--color-4);
}

.history-orders::before {
	content: ">";
	color: black
}

.history-orders a {
	text-decoration: none;
	color: black;
}

.hidden {
	display: none;
}

.setDisc:hover {
	background-color: var(--color-1);
	border: 1px solid var(--color-2)
}

.btnRemoveDisc {
	color: white
}

.restarUser {
	background-color: transparent;
	border-color: #6BA5D1;
	padding: 3px;
	font-family: 'Times New Roman', Times, serif
}

.store {
	display: flex;
	width: 100%;
}

.store input {
	width: 50%
}

.store span {
	flex: 1 1 auto; 
	text-align: center;
}